<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BittrexApiKey" value="d9379a9e8a4d43fcb229dc393e05aa8b" />
    <add key="BittrexApiSecret" value="07146076795e4fc1bb1f39f3923fb0a2" />
  </appSettings>
</configuration>